@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    background: #c2e7e5;
}

h1 {
    display: flex;
    color: #f5f5f5;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

#pScore {
    display: flex;
    flex-direction: column;
    width: 7rem;
    margin-right: 1rem;
    border: 0.2rem ridge;
    border-color: #32a852;
    align-items: center;
    border-radius: 0.5rem;
}

#cScore {
    display: flex;
    flex-direction: column;
    width: 7rem;
    margin-left: 1rem;
    border: 0.2rem ridge;
    border-color: #FF0000;
    align-items: center;
    border-radius: 0.5rem;
}

.score {
    font-size: 3rem;
    font-weight: 600;
}

#scoresContainer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#gameButtonContainer {
    display: flex;
    justify-content: center;
}

#result {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center
}

#movesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#playMove {
    display: flex;
    justify-content: center;
    width: 5rem;
    border: 0.15rem solid;
    border-color: #32a852;
    border-radius: 0.3rem;
}

#compMove {
    display: flex;
    justify-content: center;
    width: 5rem;
    border: 0.15rem solid;
    border-color: #FF0000;
    border-radius: 0.3rem;
}

#vs {
    display: flex;
    justify-content: center;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    font-size: 2rem;
    font-weight: 400;
}

#result {
    font-size: 1.3rem;
}

.btn1,
.btn2,
.btn3 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 600;
    background: radial-gradient(circle,
            rgb(10, 112, 180) 0%,
            rgba(9, 23, 226, 0.712) 100%);
    border: 0;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 5.03rem;
    margin: 0.4rem;
}

.btn4 {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background: radial-gradient(circle,
            rgb(253, 1, 1) 0%,
            rgba(226, 9, 9, 0.712) 100%);
    border: 0;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 8rem;
    margin: 0.4rem;
}

button:hover {
    cursor: pointer;
    background-color: rgba(9, 23, 226, 0.712);
    transition: 0.8s ease-in-out;
}